p{color:rgb(68, 37, 1);}
h1{color:rgb(68,37,1);}
header{background-color:rgb(213,166,189);
text-align: center;}
article{background-color:rgb(234,209,220);}
h2{color:rgb(213,166,189); background-color:rgb(56,118,29);}
h3{color:rgb(68, 37, 1);}
h4{color:rgb(68,37,1); background-color:rgb(234, 209, 220);}
li{color:rgb(68, 37, 1);}
body{background-color:rgb(248,245,236);}
footer{background-color:rgb(234,209,220);}
a{color:rgb(56,118,29);}
.pink{background-color: rgb(217,234,211);}
#links ul{
    list-style:none; 
    display:flex; 
    justify-content:space-around;
    padding:0;
    margin:0;border-color:rgb(234, 209, 220);border-style: solid;}
.footer{background-color:rgb(217,234,211)}
.underline{text-decoration: underline;}
.divider{background-color:rgb(68,37,1);color:rgb(68,37,1);}
.change{background-color: rgb(248,245,236);color:rgb(56,118,29);font-size:32px;}