article{background-color:rgb(234,209,220);}
p{color:rgb(56,118,29);}
h2{color:rgb(68,37,1); background-color:rgb(213,166,189);}
h1{color:rgb(68,37,1);}
header{background-color:rgb(213,166,189);text-align: center;}
footer{background-color:rgb(234,209,220);}
body{background-color:rgb(248,245,236);}
a{color:rgb(56,118,29);}
.footer{background-color:rgb(217,234,211)}
.fix{background-color: rgb(248,245,236);}
.divider{background-color:rgb(56,118,29);color:rgb(56,118,29);}