article{background-color:rgb(234,209,220);}
p{color:rgb(56,118,29);}
h1{color:rgb(68,37,1);}
h2{color:rgb(68,37,1)}
header{background-color:rgb(213,166,189);text-align: center;}
footer{background-color:rgb(234,209,220);}
body{background-color:rgb(248,245,236);}
a{color:rgb(56,118,29);}
.footer{background-color:rgb(217,234,211); color:rgb(68,37,1);}
.fix{background-color: rgb(248,245,236); color:rgb(68,37,1); font-size:24px;}
.divider{background-color:rgb(56,118,29);color:rgb(56,118,29);}
ol{color:rgb(68,37,1);}
ul{color:rgb(68,37,1);}
.correct{background-color:rgb(213,166,189);color:rgb(68,37,1);font-size:24px}
.change{font-size:32px;background-color:rgb(213,166,189);color:rgb(68,37,1)}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
