p{color:rgb(68, 37, 1);}
h1{color:rgb(68,37,1);}
header{background-color:rgb(213,166,189);
text-align: center;}
h3{color:rgb(68, 37, 1);}
h4{color:rgb(68,37,1); background-color:rgb(234, 209, 220);}
li{color:rgb(68, 37, 1);}
section{background-color:rgb(234,209,220);}
body{background-color:rgb(248,245,236);}
footer{background-color:rgb(234,209,220);}
a{color:rgb(56,118,29);}
#links ul{
    list-style:none; 
    display:flex; 
    justify-content:space-around;
    padding:0;
    margin:0;border-color:rgb(234, 209, 220);border-style: solid;}
.footer{background-color:rgb(217,234,211)}
.underline{text-decoration: underline;}
.divider{background-color:rgb(68,37,1);color:rgb(68,37,1);}
.change{background-color: rgb(248,245,236);color:rgb(56,118,29);font-size:32px;}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
.border-success{color:rgb(56,118,29); border-color:rgb(56,118,29); border-style: solid; background-color:rgb(217,234,211) ;}
.center{text-align: center;}
.summary{color:rgb(56,118,29);font-size:24px;  background-color: rgb(234,209,220);}
.link{color:rgb(68, 37, 1); border-color:rgb(68, 37, 1); border-style: solid; background-color:rgb(234,209,220);}
.padding{line-height: 10px; }
.blend{color:rgb(248,245,236))}